@import "../../../../scss/global";

@media (min-width: 768px) {
  .container {
    height: 100%;
    background-color: $slate-900;

    border-bottom-left-radius: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    .no-calculation {
      @include grid(1, 1);
      align-items: center;
      height: 100%;
      padding: 100px 20px;
      text-align: center;

      * {
        margin: 0 auto;
      }

      .icon {
        width: 10rem;
        margin-bottom: 10px;
        img {
          width: 10rem;
        }
      }
      .information {
        .subtitle {
          color: $white;
          font-size: 22px;
        }
        .description {
          margin-top: 10px;
          color: $slate-300;
        }
      }
    }
  }
}
