@import "../../../../scss/mixins";
@import "../../../../scss/variables";

@media (min-width: 768px) {
  .container {
    height: 100%;
    padding: 30px 60px;

    .title {
      @include flex(space-between, center);
      margin-bottom: 40px;
      .heading {
        font-size: 22px;
        color: $slate-900;
      }
      .clear {
        font-size: 14px;
        color: $slate-700;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .mortgage {
      form {
        .form-group {
          margin-bottom: 10px;

          label {
            display: block;
            margin-bottom: 10px;
            color: $slate-700;
          }
          .input-group {
            position: relative;
            width: 100%;

            input {
              padding: 9px;
              border-radius: 5px;
              border: 1px solid $slate-700;
              width: 100%;
            }
            .icon-left-side,
            .icon-right-side {
              background-color: $slate-100;
              color: $slate-700;

              padding: 8.5px;
              margin-left: 1px;
              border-radius: 5px;

              user-select: none;
              text-align: center;
              width: auto;
              position: absolute;

              top: 50%;
              transform: translateY(-50%);
            }
            .icon-left-side {
              left: 0px;
            }
            .icon-right-side {
              right: 0px;
            }
          }
        }

        .flex-form-group {
          @include grid(1, 2, 15px);
          margin-top: 20px;

          .form-group {
            input {
              width: 100%;
            }
            span {
              margin-right: 1px;
            }
          }
        }

        .form-group-checkbox {
          margin-top: 10px;

          .subtitle {
            color: $slate-700;
            margin-bottom: 10px;
          }

          label {
            @include flex(start, center);
            border: 1px solid $slate-700;
            padding: 10px;
            border-radius: 7px;
            margin: 10px 0px;
            user-select: none;
            input {
              margin-right: 20px;
              border: 1px solid $slate-700;
              padding: 8px;
              border-radius: 50%;

              &:checked {
                background-color: $slate-700;
              }
            }
            span {
              font-weight: bold;
              color: $slate-900;
            }
          }
        }

        .btns {
          margin-top: 30px;
          button[type="submit"] {
            @include flex(center, center);
            background-color: $lime;
            padding: 10px 30px;
            border: none;
            border-radius: 30px;
            color: $slate-900;
            font-weight: 700;
            img {
              margin-right: 10px;
            }
          }
        }

        //to remove the arrows
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type="number"] {
          appearance: textfield;
        }
        input[type="checkbox"] {
          appearance: none;
        }
      }
    }
  }
}
